<ng-container>
  <ion-col class="transition" size="12">
    <div class="ion-item-div" style="background: {{Outlet.UI_Element.COLOR}};">

      <ion-grid class="ion-no-margin ion-no-padding full-width ion-grid">
        <ion-row>
          <!-- Column -->
          <ion-col size="10"
            class="ion-col">
            <!-- Label -->
            <ion-label class="text-shadow ion-label">{{Outlet.NAME}}
            </ion-label>
          </ion-col>

          <!-- Column -->
          <ion-col size="2" style="text-align: right;" class="ion-col">
            <!-- Toggle -->
            <ion-toggle name="outputToggle" #myToggle (ionChange)="functions.toggleLight($event, myToggle)"
              class="ion-toggle">
            </ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row style="height: 50px;">

          <!-- Column -->
          <ion-col size="10" class="full-height ion-col">
            <!-- Range -->
            <ion-range min="0" max="100" step="1" value="{{Outlet.CURRENT_VALUE}}" #myRange
              (ionChange)="functions.changeDimmingValue($event, myToggle)" class="ion-range" pin="true">
              <ion-icon slot="start" size="small" ios="sunny" md="sunny-sharp"></ion-icon>
              <ion-icon slot="end" ios="sunny" md="sunny-sharp"></ion-icon>
            </ion-range>
          </ion-col>

          <!-- Column -->
          <!-- Column -->
          <ion-col size="2" class="ion-col">
            <!-- Action plan icon -->
            <ion-icon [routerLink]="['options']" [queryParams]="{ id:j, index:i }"
              class="ion-item-config-icon ion-no-margin pointer" ios="chevron-forward" md="chevron-forward-sharp">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-col>
</ng-container>
