<div class="ion-item-div transition" [ngStyle]="{'background': Outlet.UI_Element.COLOR}" #previewItem>

  <ion-grid class="ion-no-margin ion-no-padding full-width ion-grid">
    <ion-row>
      <!-- Column -->
      <ion-col size="10" class="ion-col">
        <!-- Label -->
        <ion-label class="text-shadow ion-label">{{Outlet.NAME}}
        </ion-label>
      </ion-col>

      <!-- Column -->
      <ion-col size="2" style="text-align: right;" class="ion-col">
        <!-- Toggle -->
        <ion-toggle name="outputToggle" #myToggle (ionChange)="functions.toggleLight($event, myToggle)"
          class="ion-toggle">
        </ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row style="height: 50px;">

      <!-- Column -->
      <ion-col size="10" class="full-height ion-col">
        <!-- Range -->
        <ion-range min="0" max="100" step="1" value="{{Outlet.CURRENT_VALUE}}" #myRange
          (ionChange)="functions.changeDimmingValue($event, myToggle)" class="ion-range" pin="true">
          <ion-icon slot="start" size="small" ios="sunny" md="sunny-sharp"></ion-icon>
          <ion-icon slot="end" ios="sunny" md="sunny-sharp"></ion-icon>
        </ion-range>
      </ion-col>

      <!-- Column -->
      <!-- Column -->
      <ion-col size="2">
        <!-- Action plan icon -->
        <ion-icon (click)="animate($event)"
          class="ion-item-config-icon ion-no-margin pointer transition" ios="chevron-forward" md="chevron-forward-sharp">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div #myDiv class="customize">
  <div class="customize-arrow">
  </div>

  <ion-list>
    <ion-slides pager="true" [options]="functions.customiationSlideOpts">
      <ion-slide>
        <ion-list-header class="ion-no-padding">
          <ion-label>
            Background color
          </ion-label>
        </ion-list-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size='2' *ngFor="let color of MyColors">
              <ion-button style="--background: {{color.COLOR}};" (click)="functions.previewColor(color, previewItem, MyOutletUI)"
                class="transition color-palette-button">
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </ion-list>
  </div>
