<ion-col size="12">
  <ion-item detail="false" lines="inset" button="true" (click)="toggleCollapse()" class="ion-no-padding-padding-start"
    style="--background: transparent;--padding-start: 15px;">
    <ion-icon name="add-outline" *ngIf="isCollapsed === true"></ion-icon>
    <ion-icon name="remove-outline" *ngIf="isCollapsed === false"></ion-icon>
    <ion-label>&nbsp; {{MyName}}</ion-label>
  </ion-item>
</ion-col>

<ng-container *ngIf="isCollapsed===false">
  <ion-row>
    <ion-col class="transition" size="12" *ngFor="let Outlet of MyOutlets">
      <ng-container [ngSwitch]="Outlet.OUTLET_TYPE_ID">
        <app-outlet-curtain *ngSwitchCase="3" [Outlet]="Outlet" [MyColors]="this.MyColors" [MyOutletUI]="Outlet.My_Outlet_Ui"></app-outlet-curtain>
        <app-outlet-diming *ngSwitchCase="2" [Outlet]="Outlet" [MyColors]="this.MyColors" [MyOutletUI]="Outlet.My_Outlet_Ui"></app-outlet-diming>
        <app-outlet-digital *ngSwitchCase="1" [Outlet]="Outlet" [MyColors]="this.MyColors" [MyOutletUI]="Outlet.My_Outlet_Ui"></app-outlet-digital>
        <app-outlet-digital *ngSwitchDefault [Outlet]="Outlet" [MyColors]="this.MyColors" [MyOutletUI]="Outlet.My_Outlet_Ui"></app-outlet-digital>
      </ng-container>
    </ion-col>
  </ion-row>
</ng-container>
