<div class="ion-item-div" style="background: {{Outlet.UI_Element.COLOR}};"
  (click)="functions.manualToggle($event, myToggle)">

  <ion-grid class="ion-no-margin ion-no-padding full-width ion-grid">
    <ion-row>
      <!-- Column -->
      <ion-col size="10" class="ion-col">
        <!-- Label -->
        <ion-label class="text-shadow ion-label">
          {{Outlet.NAME}}
        </ion-label>
      </ion-col>

      <!-- Column -->
      <ion-col size="2" style="text-align: right;" class="ion-col">
        <!-- Toggle -->
        <ion-toggle name="outputToggle" #myToggle (ionChange)="functions.toggleLight($event, myToggle)"
          class="ion-toggle">
        </ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row style="height: 50px;">
      <!-- Column -->
      <ion-col size="2" push="10">
        <!-- Action plan icon -->
        <ion-icon class="ion-item-config-icon ion-no-margin pointer" ios="chevron-forward" md="chevron-forward-sharp"
          (click)="animate()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div #myDiv>
  <h1>Hello</h1>
</div>
